<div class="demo-container">

  {{#vc-table}}
    <div class="et2-body-outer-wrapper" >
      <div class="et2-body-inner-wrapper">

        {{#vertical-collection
          items=rows
          estimateHeight=40
          bufferSize=20
          containerSelector=".et2-body-outer-wrapper"
          tagName="tbody"
          as |rows index|
        }}
          {{#table-row}}
            {{#each columns as |column columnIndex|}}
              {{#table-cell}}
                {{index}} {{columnIndex}}
              {{/table-cell}}
            {{/each}}
          {{/table-row}}
        {{/vertical-collection}}

      </div>
    </div>
  {{/vc-table}}

</div>
